.bg-black{
	background-color: black;
}

img{
	width: 100%;
	height: 400px;
}
.font-div{
	width: 30%;  
}
.m{
	margin-top: 16px;
}
/*//responsive//*/
@media only screen and (min-width: 1000px){
	.font-div{
		padding: 50px 0px!important;
	}
}